@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
.container_top{
    border: solid 3px;
    background-color:lemonchiffon;
    margin: 20px auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color:mediumvioletred;
    font-size: 30px;
    font-weight: 700;
    margin-top: 6px;
    text-align: center;
}
.text_number_games{
    margin-top: 16px;
}
.btn_input_number_games{
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.number_games{
    background-color: lightgreen;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    width: 106px;
    height: 30px;
    text-align: center;
}
.start_play{
    background-color: darkblue;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    width: 113px;
    height: 35px;
}
.start_play:hover{
    opacity: 80%;
}
.container_bottom{
    background-color:lemonchiffon;
    border: solid 3px black;
    margin: 20px auto;
    width: 1000px;
    visibility: hidden;
}
.container_inside{
    display: flex;
    margin-top: 20px;
}
.container_left{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_title_player{
    color:blue;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F;
    text-align: center;
}
.options_choose{
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.options_player{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.options_player > div{
    background-size: contain;
    cursor: pointer;
    width: 110px;
    height: 110px;
}
.options_player > div:hover{
    opacity: 80%;
}
.rock{
    background-image: url(./images/rock.jpg);
}
.paper{
    background-image: url(./images/paper.jpg);
}
.scissors{
    background-image: url(./images/scissors.jpg);
}
.choose{
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 60px;
    text-align: end;
}
.restart{
    background-color:red;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 25px;
    margin: 25px;
    width: 100px;
    height: 30px;
}
.restart:hover{
    opacity: 80%;
}
.container_middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_score{
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #8F7, 0 0 0.2em #8F7;
}
.container_results{
    border: dotted 2px black;
    margin-top: 8px;
    display: flex;
    gap: 25px;
    padding: 10px;
}
.container_player{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.text_result_player{
    font-size: 20px;
    color:blue;
    font-weight: 700;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F;
}
.score_player{
    border: solid 2px black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_player{
    background-size: contain;
    width: 110px;
    height: 110px;
    margin-top: 35px;
    visibility: hidden;
}
.container_pc{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.text_result_pc{
    font-size: 20px;
    color: red;
    font-weight: 700;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}
.score_pc{
    border: solid 2px black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_pc{
    background-size: contain;
    width: 110px;
    height: 110px;
    margin-top: 35px;
    visibility: hidden;
}
.container_vs{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.text_result_vs{
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #8F7, 0 0 0.2em #8F7;
}
.score_vs{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    width: 55px;
    height: 45px;
    display: flex;
    justify-content: center;
}
.text_vs{
    font-size: 30px;
    font-weight: 700;
    height: 110px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    visibility: hidden;
}
.round_winner{
    color:mediumvioletred;
    font-size: 22px;
    font-weight: 700;
    width: 405px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Press Start 2P', cursive;
    animation: neonEffect1 5s infinite;
}
@keyframes neonEffect1{
    0%, 35%, 45%, 65%, 100% {
        text-shadow:
        mediumvioletred 0 0 12px,
        #EFFD6D 0 0 24px,
        #EFFD6D 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}
.next_round{
    background-color:orange;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    width: 120px;
    height: 35px;
    margin-top: 30px;
    visibility: hidden;
}
.next_round:hover{
    opacity: 80%;
}
.game_winner{
    background-color: black;
    color:white;
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    width: 410px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    animation: neonEffect2 5s infinite;
    visibility: hidden;
}
@keyframes neonEffect2{
    0%, 35%, 45%, 65%, 100% {
        text-shadow:
        white 0 0 12px,
        #EFFD6D 0 0 24px,
        #EFFD6D 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}
.container_right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_title_pc{
    color: red;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}
.options_pc{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    gap: 25px;
}
.options_pc > img{
    background-size: contain;
    width: 110px;
    height: 110px;
}
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }